
@mixin s-button{
  width:660rpx;
  height:90rpx;
  background:linear-gradient(-90deg,rgba(242,106,83,1) 0%,rgba(238,67,39,1) 100%);
  border-radius:45rpx;
  color: #fff;
  font-size:34rpx;
  margin: 0 auto;
}
@mixin active($color) {
  &.active {
    color: $color;
    &::after {
      content: '';
      position: absolute;
      width: 50rpx;
      height: 6rpx;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color;
      color:$color;
    }
  }
}
@mixin left-active($color,$left) {
  &.left-active {
    &:after {
      content: '';
      position: absolute;
      width: 4rpx;
      height: 25%;
      left: $left;
      top: 50%;
      transform: translateY(-50%);
      background-color: $color;
    }
  }
}
@mixin flexY() {
  display: flex;
  flex-direction: column;
}
@mixin flexA() {
  align-items: center;
}
@mixin flexJ {
  justify-content: center;
}
@mixin flexX() {
  display: flex;
  align-items: center;
}
@mixin flexSB() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flexSA() {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin wh($width) {
  width: $width;
  height: $width;
}

@mixin txt_cut() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin two_txt_cut() {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  white-space: normal;
}
